<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">List of enrolee</h3>
    </div>

    <table class="table table-hover" id="dev-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Activation Status</th>
                <th>Birth Date</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr
                *ngFor='let employee of empListData'
                class="tableRow"
            >
                <td>{{ employee.userId }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.activationstatus }}</td>
                <td>{{ employee.birthdate }}</td>
                <td>
                    <div class="edit-icon">
                        <img src="../../../../assets/images/edit-icon.png" aria-hidden="true" data-toggle="tooltip"
                             title="edit" (click)="showEmployeeDetails(employee)" alt="Edit Icon">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
