<div *ngIf="employeeDetail | async as employee">
    <h3>Enrolee Detail</h3>
    <ngb-alert [@fadeInOut] *ngIf="successMessage" [dismissible]="false" type="success">
        <div>{{ successMessage }}</div>
    </ngb-alert>
    <div id="FormWrapper">
        <div id="FormbodyWrapper">
            <!-- Form Starts here -->
            <form [formGroup]="CreateForm" (ngSubmit)="onClickSubmit(CreateForm.value)">
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">
                        UserId
                    </label>
                    <div class="form-group row col-md-6">
                        <input type="text" class="form-control" [attr.disabled]="true" formControlName="id">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">
                        Name
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" formControlName="name"
                               value={{employee.name}} />
                        <div *ngIf="(!CreateForm.controls.name.pristine && !CreateForm.controls.name.valid) ||
                      (isSubmitted && !CreateForm.controls.name.valid)
                      " class="help-block">
                            {{this.commonService.applicationNameRequired}}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">
                        Activation Status
                    </label>
                    <div class="col-md-6">
                        <div class="form-check-inline">
                            <input type="radio" name="active" class="form-check-input" id="inlineRadio1"
                                   (change)="radioChange($event.target,'active')" value="true"
                                   [checked]=activeFlag>
                            <label for="inlineRadio1" class="form-check-label">
                                Active
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <input type="radio" name="inactive" class="form-check-input" id="inlineRadio2"
                                   (change)="radioChange($event.target,'inactive')" value="false"
                                   [checked]=inactiveFlag>
                            <label for="inlineRadio2" class="form-check-label">
                                Inactive
                            </label>
                        </div>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">
                        Birth Date
                    </label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" [attr.disabled]="true" formControlName="dateOfBirth"
                               value={{employee.dateOfBirth}} />
                    </div>
                </div>
                <br />

                <input type="submit" value="submit">
            </form>
        </div>
    </div>

</div>
